// Primary Color Palette
$primary-50: #E0F2F1;
$primary-100: #B2DFDB;
$primary-200: #80CBC4;
$primary-300: #4DB6AC;
$primary-400: #26A69A;
$primary-500: #009688;
$primary-600: #00897B;
$primary-700: #00796B;
$primary-800: #00695C;
$primary-900: #004D40;
$primary-a100: #A7FFEB;
$primary-a200: #64FFDA;
$primary-a400: #1DE9B6;
$primary-a700: #00BFA5;

$primary-default: $primary-600;
$primary-hue-1: $primary-100;
$primary-hue-2: $primary-400;
$primary-hue-3: $primary-800;

// Accent Color Palette
$accent-50: #E1F5FE;
$accent-100: #B3E5FC;
$accent-200: #81D4FA;
$accent-300: #4FC3F7;
$accent-400: #29B6F6;
$accent-500: #03A9F4;
$accent-600: #039BE5;
$accent-700: #0288D1;
$accent-800: #0277BD;
$accent-900: #01579B;
$accent-a100: #80D8FF;
$accent-a200: #40C4FF;
$accent-a400: #00B0FF;
$accent-a700: #0091EA;

$accent-default: $accent-600;
$accent-hue-1: $accent-100;
$accent-hue-2: $accent-300;
$accent-hue-3: $accent-700;

//  Font Color
$font-color-light: #fff;
$font-color-dark: #000;

// Menu
$menu-hover-bg: rgba(0, 0, 0, .3);

// Backgroud
$card-bg: #fff;

//scroll-bar
$scroll-color: rgba(0, 0, 0, .3);
