body {
    overflow-x: hidden;
    background: $base-body-background;
    font-size: 14px;

    #loading-bar .bar {
        background: $primary-a400;
        height: 4px;
    }

    .scroll-style {
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $scroll-color;
        }
    }
}

