body {
    overflow-x: hidden;
    background: $base-body-background;
    font-size: 14px;

    #loading-bar .bar {
        background: $primary-a400;
        height: 4px;
    }


    .scroll-style,
    md-tab-content {
        &::-webkit-scrollbar-track {
            border-radius: 8px;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: $scroll-color;
        }
    }
}

