.formly-field-group  {

    .formly-field {
        padding-right: 5px;
    }
}

.formly-field {
    md-divider {
        border: 1px solid $accent-hue-2;
        margin: 10px 0;
    }

    fieldset {
        border-radius: 4px;
        border-style: dotted;
        margin: 0;
        border-color: $accent-hue-2;

        legend {
            .md-subheader {
                font-weight: bold;
                color: $primary-default;
                background: transparent;
            }
        }
    }

    md-input-container .md-input.lookup-input {
        width: 80%;
    }

    md-checkbox,
    md-radio-button {
        margin: 16px;
    }
}

div[ng-jsoneditor] {

    div.jsoneditor-menu {
        background: $primary-default;
        color: $font-color-light;

        > a {
            display: none;
        }
    }
}
